#body {
  background-color: #303030;
}

back-button {
  height: 32px;
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  background-color: #F0F0F0;
}
#back-button:hover {
  background-color: #FF7F7F;
}


.booking-button {
  height: 32px;
  width: 100% -4px;
  margin-bottom: 2px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 2px;

  color: black;
  background-color: #E0E0E0;
}
.booking-button-expanded {
  height: 200px;
  width: 100% -4px;
  margin-bottom: 2px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 2px;

  color: black;
  background-color: #F2F2F2;
}

.booking-button-expanded > p {
    white-space: pre;
}

.booking-button:hover {
  background-color: white;
  background-color: #F0FFF0;
}

.list-container {

}

.lists {
  float: left;
  width: 40%;
  margin-right: 10px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 2px;
  background-color: #F0F0F0;
}

.lists > h2 {
  color: #404040;
}

#unconfirmed-list #confirmed-list {
}
